/*** General ***/

body {
  font-family: 'Cocogoose', 'Lato', sans-serif;
}

.c-main {
  color: #272a31;
}
.c-sec {
  color: #ec5242;
}
.c-grey {
  color: #d3d3d3;
}
.bg-main {
  background-color: #272a31;
}
.bg-sec {
  background-color: #ec5242;
}
.bg-grey {
  background-color: #d3d3d3;
}
.wrapper {
  padding: 20px;
}
p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

/** Header **/
header nav .fa-bars {
  font-size: 2.5rem;
}

header nav a {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.5;
}

header .navbar {
  padding: 0;
}

/** Main **/
main .hero {
  background-color: #daf9ff;
}
main .hero .welcome {
  font-size: 3rem;
  font-weight: 900;
  margin: 1rem 0;
  line-height: 1.2;
}

main .hero .intro {
  font-size: 1.5rem;
  font-weight: 500;
}

main .hero .content {
  border: 3px solid #fff;
  padding: 1rem;
}
