/** Main **/

main .select-tickets .step-title::before {
  content: "•";
  color: #ec5242;
  padding-right: 5px;
}

main .step-title {
  border: 1px solid #d3d3d3;
  height: 2rem;
  border-radius: 1rem;
}

@media only screen and (min-width: 768px) {
  main .step-title {
    height: 3rem;
    border-radius: 1.5rem;
  }
}

main .select-tickets .table {
  padding: 0.3rem;
  background:
    #d3d3d3
    repeating-linear-gradient(
      135deg,
      #ec5242 0,
      #ec5242 5px,
      #d3d3d3 5px,
      #d3d3d3 10px,
      rgb(89, 141, 255) 10px,
      rgb(89, 141, 255) 15px,
      #d3d3d3 15px,
      #d3d3d3 20px
    );
}

table,
th,
td {
  border: 1px solid #d3d3d3;
}

table {
  width: 100%;
}

th {
  background-color: #f8f8f8;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 1rem;
}

.fa-futbol {
  font-size: 0.7rem;
}

main .divider-wrapper {
  height: 100px;
  background:
    #d9d9d9
    linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 50%, white 50%, white 100%);
}

main .divider {
  transform: rotate(45deg);
}

main .divider .fa-chevron-down {
  transform: rotate(-45deg);
  font-size: 0.8rem;
}

main .select-teams td {
  height: 75px;
}
